@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


body {
    height: 100%;
    background-color: #F5F5F5;
    font-family: 'Rubik', sans-serif;
}

.button-group{
margin-top: 6%;
padding: 30px;
}


.button-group > button {
width: 120px;
border-radius: 30px;
border: solid 1px #E8E8E8;
background: #FFFFFF;
}

.button-group > button:active {
   
    background: black;
    }
    

.caja {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.cards-container {
    display: grid;
    grid-template-columns:
    repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
}


.img-pizza {
    width: 90px;
    height: 90px;
}
  
  

.caja2 {
    margin-top: 10%;
    
}


.pedido {
    width: 35%;
    top: 22%;
    left: 55%;
    position: fixed;
    
}

p {
    font-size: 15px;
}
table {
    background-color: white;
}
h6{
    font-size: 14px;
    
}

.logo {
    width: 7%;
    height: 7%;
}
h5{
    font-size: 16px;
}

a{
    font-size: 14px;
    padding: 30px
}

.titulo {
    font-weight: 700;
}
.descripcion {
    font-weight: 400;
    font-size: 12px;
    height: 30px;

}

.precio {
    font-size: 17px;
}

.button-sumar {
    border:none;
}

.button-sumar:hover {
    color: white;
    background-color: black;
}

#buttonPedido {
width: 100px;
height: 85px;
}

@media only screen and (max-width: 768px) {
    .caja {
        padding: 0px;
    }
}
